body {
    background-color: lightcoral;
    border-left: 30px dotted #dd0d41;
    border-right: 30px dotted #dd0d41;
    font-family: "Gill Sans", sans-serif;
    text-align: center;

    
}


img {
    height: 280px;
}